/*===================================*/
/* Interactive elements */

a,
a i {
  transform: scale(1);
  transition: transform 500ms;
}

a:hover,
a:focus,
a:active,
a i:hover,
a i:focus,
a i:active {
  transform: scale(1.1);
}

a:hover,
a:focus {
  color: #ffe600;
  background-color: #000;
}

button,
.btn,
input,
textarea {
  border: 0;
  display: inline-block;
  border-radius: 2px;
  padding: 0.5em 1.75em;
  margin: 1em;
  transform: scale(1);
  transition: transform 500ms;
  cursor: pointer;
  text-decoration: none;
  justify-self: start;
}

input,
textarea {
  border: 1px #404040 solid;
}

button:hover,
button:focus,
button:active,
.btn:hover,
.btn:focus,
.btn:active {
  transform: scale(1.1);
}

button:hover,
button:focus,
button:active,
.btn:hover,
.btn:focus,
.btn:active,
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(187, 172, 41), 0 0 0 0.1rem hsl(59, 100%, 49%);
  background-color: #000;
  color: #ffe600;
}

/* End - Interactive elements */

/*===================================*/
/* Interactive elements */

a,
a i {
  transform: scale(1);
  transition: transform 500ms;
}

a:hover,
a:focus,
a:active,
a i:hover,
a i:focus,
a i:active {
  transform: scale(1.1);
}

a:hover,
a:focus {
  color: #ffe600;
  background-color: #000;
}

button,
.btn,
input,
textarea {
  border: 0;
  display: inline-block;
  border-radius: 2px;
  padding: 0.5em 1.75em;
  transform: scale(1);
  transition: transform 500ms;
  cursor: pointer;
  text-decoration: none;
  justify-self: start;
}

input,
textarea {
  border: 1px #404040 solid;
}

button:hover,
button:focus,
button:active,
.btn:hover,
.btn:focus,
.btn:active {
  transform: scale(1.1);
}

button:hover,
button:focus,
button:active,
.btn:hover,
.btn:focus,
.btn:active,
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(187, 172, 41), 0 0 0 0.1rem hsl(59, 100%, 49%);
  background-color: #000;
  color: #ffe600;
}

/* End - Interactive elements */