body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer>* {
    grid-column: 2 / -2;
}

@media (min-width: 800px) {
    footer>* {
        grid-column: 3 / -3;
    }

}