.theme-color-light {
  color: #fff;
}

.theme-color-dark {
  color: #000;
}

.theme-bg-light {
  background-color: #fff;
}

.theme-bg-dark {
  background-color: #000;
}

.theme-color-accent {
  color: #ffe600;
}

.theme-bg-accent {
  background-color: #ffe600;
}

.theme-bb-accent {
  border-bottom: 2px solid #ffe600;
}

.theme-bb-accent:hover {
  border-bottom: 2px solid #fff;
}

body {
  color: #000;
}

h1 {
  background-color: #ffffff80;
  margin: 1em 2em;
}

li {
  list-style: none;
  ;
}

footer {
  background-color: gainsboro;
}